---
export interface Props {
	title: string;
	subtitle1: string;
	subtitle2: string;
	subtitle3: string;
	subtitle4: string;
	subtitle5: string;
	phone: string;
	email: string;
	license: string;
	source: string;
}
import { getLangFromUrl, getLicenseURL } from "../i18n/utils";

const {
	title,
	subtitle1,
	subtitle2,
	subtitle3,
	subtitle4,
	subtitle5,
	phone,
	email,
	license,
	source
} = Astro.props;
const lang: any = getLangFromUrl(Astro.url).toString();
const licenseURL = getLicenseURL(lang);
---

<footer class="h-auto bg-light-500 py-10 text-black dark:bg-dark-800 dark:text-white">
	<div class="container mx-auto px-4">
		<div class="flex flex-col items-center justify-between md:flex-row">
			<div class="mb-4 md:mb-0">
				<span class="justify-center text-center text-2xl font-bold text-black dark:text-white"
					>{title}</span
				>
				<div class="mb-4 mt-2 flex items-center text-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="1em"
						fill="currentColor"
						viewBox="0 0 576 512"
						><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
						<path
							d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V83.8c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"
						></path></svg
					>
					<a
						href={licenseURL}
						class="ml-2 text-center text-sm italic text-black decoration-LapisLazuli-500 decoration-2 hover:underline dark:text-white"
					>
						{license}
					</a>
				</div>
				<div class="mb-4 mt-2 flex flex-none items-center text-base">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="1em"
						viewBox="0 0 496 512"
						fill="currentColor"
						><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
						<path
							d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
						>
						</path>
					</svg>
					<a
						href={source}
						class="ml-2 text-sm italic text-black decoration-LapisLazuli-500 decoration-2 hover:underline dark:text-white"
						>{source}</a
					>
				</div>
			</div>
			<div class="mx-4 mb-4 mt-4 inline-flex flex-wrap md:mt-0">
				<a
					href={`/${lang}#apropos`}
					class="hover:underline-gradiant px-3 py-2 text-black hover:text-LapisLazuli-400 dark:text-white"
					>{subtitle1}</a
				>
				<a
					href={`/${lang}#skillSection`}
					class="hover:underline-gradiant px-3 py-2 text-black hover:text-LapisLazuli-400 dark:text-white"
					>{subtitle2}</a
				>
				<a
					href={`/${lang}#experienceSection`}
					class="hover:underline-gradiant px-3 py-2 text-black hover:text-LapisLazuli-400 dark:text-white"
					>{subtitle3}</a
				>
				<a
					href={`/${lang}#educationSection`}
					class="hover:underline-gradiant px-3 py-2 text-black hover:text-LapisLazuli-400 dark:text-white"
					>{subtitle4}</a
				>
				<a
					href={`/${lang}#projectSection`}
					class="hover:underline-gradiant px-3 py-2 text-black hover:text-LapisLazuli-400 dark:text-white"
					>{subtitle5}</a
				>
			</div>
			<div class="mb-2 mt-2 flex items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 512 512"
					fill="currentColor"
					><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
					<path
						d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
					></path></svg
				>
				<span class="ml-2 text-black dark:text-white">{phone}</span>
			</div>
			<div class="mx-4 mb-2 mt-2 flex flex-grow items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 512 512"
					fill="currentColor"
					><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
					<path
						d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
					>
					</path>
				</svg>
				<a
					href=`mailto:${email}?subject=Offre de stage/Emplois`
					class="ml-4 mr-2 whitespace-nowrap decoration-LapisLazuli-500 decoration-2 hover:underline"
					>{email}</a
				>
			</div>
		</div>
	</div>
</footer>
